In [2]:
!pip install isbnlib

Requirement already satisfied: isbnlib in c:\users\knmeh\miniconda3\lib\site-packages (3.10.6)

In [1]:
import pandas as pd
import numpy as np
import time
#import isbnlib as il

In [2]:
df_books=pd.read_csv("C:/Users/XXXX/books.csv")

In [3]:
df_books.head()

,Unnamed: 0,r_index,book_id,authors,original_title,image_url,average_rating,ratings_count,genre
0,0,1,2767052,Suzanne Collins,The Hunger Games,https://images.gr-assets.com/books/1447303603l...,4.34,4780653,"fiction, fantasy"
1,1,2,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,https://images.gr-assets.com/books/1474154022l...,4.44,4602479,"fantasy, fiction"
2,2,3,41865,Stephenie Meyer,Twilight,https://images.gr-assets.com/books/1361039443l...,3.57,3866839,"fantasy, fiction"
3,3,4,2657,Harper Lee,To Kill a Mockingbird,https://images.gr-assets.com/books/1361975680l...,4.25,3198671,"classics, fiction"
4,4,5,4671,F. Scott Fitzgerald,The Great Gatsby,https://images.gr-assets.com/books/1490528560l...,3.89,2683664,"classics, fiction"

In [4]:
isbn_arr=np.load("C:/Users/knmeh/XXXX/isbn.npy")

In [5]:
len(isbn_arr)

9274

In [8]:
desc_isbn=pd.read_csv("C:/Users/knmeh/XXXX/desc.csv")

In [71]:
arr=[]

In [30]:
"""for i in range(7000,len(isbn_arr)):
    if i%50==0:
        time.sleep(60)
        print(i)
    if isbn_arr[i]==0:
        arr.append(df_books.original_title[i])
    
        continue
    arr.append(il.desc(str(isbn_arr[i])))"""

'for i in range(7000,len(isbn_arr)):\n    if i%50==0:\n        time.sleep(60)\n        print(i)\n    if isbn_arr[i]==0:\n        arr.append(df_books.original_title[i])\n    \n        continue\n    arr.append(il.desc(str(isbn_arr[i])))'

In [73]:
len(arr)

2274

In [33]:
desc=list(desc_isbn['description'])

In [74]:
desc.extend(arr)

In [75]:
len(desc)

9274

In [79]:
desc_isbn.shape

(9274, 2)

In [76]:
df = pd.DataFrame(desc)

In [77]:
df.to_csv("C:/Users/knmehXXXX/desc.csv")

In [78]:
desc_isbn=pd.read_csv('C:/Users/knmeh/XXXX/desc.csv')

In [25]:
for i in range(len(desc_isbn)):
    if pd.isnull(desc_isbn['desc'][i]):
        print(desc_isbn['desc'][i])
        desc_isbn['desc'][i]=str(df_books['original_title'][i])+ " "+str(df_books['authors'][i])
        print(str(df_books['original_title'][i])+ str(df_books['authors'][i]))

In [32]:
pd.DataFrame(desc_isbn).to_csv("C:/Users/XXXX/desc.csv")

In [28]:
df_books['description']=desc_isbn['desc']

In [29]:
df_books.head()

,Unnamed: 0,r_index,book_id,authors,original_title,image_url,average_rating,ratings_count,genre,description
0,0,1,2767052,Suzanne Collins,The Hunger Games,https://images.gr-assets.com/books/1447303603l...,4.34,4780653,"fiction, fantasy","In a future North America, where the rulers of..."
1,1,2,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,https://images.gr-assets.com/books/1474154022l...,4.44,4602479,"fantasy, fiction",Rescued from the outrageous neglect of his aun...
2,2,3,41865,Stephenie Meyer,Twilight,https://images.gr-assets.com/books/1361039443l...,3.57,3866839,"fantasy, fiction",With 160 million copies of the Twilight Saga s...
3,3,4,2657,Harper Lee,To Kill a Mockingbird,https://images.gr-assets.com/books/1361975680l...,4.25,3198671,"classics, fiction",The unforgettable novel of a childhood in a sl...
4,4,5,4671,F. Scott Fitzgerald,The Great Gatsby,https://images.gr-assets.com/books/1490528560l...,3.89,2683664,"classics, fiction",A young man newly rich tries to recapture the ...